# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
*.ipch
*.db
*.opendb
*.db-shm
*.db-wal
*.vcxproj
*.suo
sln/vc10/bitfield/Debug/

sln/vc10/Debug/

sln/vc10/test_bitfield/Debug/

sln/vc10/gtest/Debug/
